* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(45deg, #ff9ce3, #4ab3ff);
}

.login {
  width: 25vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  outline: 1px solid white;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  position: absolute;
  backdrop-filter: blur(7px);
  right: 10rem;
  top: 7.5rem;
  overflow: hidden;

  h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
  }
  input {
    width: 80%;
    height: 48px;
    border-radius: 15px;
    color: black;
    font-size: large;
    padding-left: 15px;
    background: transparent;
  }
  :focus {
    outline: none;
  }

  button {
    width: 80%;
    height: 48px;
    font-size: large;
    background: transparent;
    outline: none;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 8px;
    z-index: 2;
    border: 1px solid white;
  }

  button:hover {
    background-color: white;
    color: black;
    outline: 1px solid black;
  }
}
.error {
  color: red;
  font-size: 25px;
  transform: translateY(-40px);
}

.hero {
  width: 40vw;
  height: 70vh;
  position: relative;
  top: 6rem;
  left: 1rem;

  div {
    position: absolute;
    top: 210px;
    left: 190px;
    color: white;
    font-size: 48px;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.caption {
  color: white;
  font-size: 32px;
  position: absolute;
  bottom: 3rem;
  left: 11rem;
}

.circle1,
.circle2 {
  z-index: -5;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  height: 600px;
  width: 600px;
  background-image: linear-gradient(
    180deg,
    #97ff57 0%,
    #0d99ff 99.9%,
    #0094ff 100%
  );
  filter: blur(10px);
  transform: rotate(18deg);
  left: -120px;
  top: -150px;
}

.circle2 {
  width: 400px;
  height: 400px;
  background: linear-gradient(180deg, #ff57d0 0%, #0d99ff 99.99%, #0094ff 100%);
  filter: blur(5px);
  transform: rotate(18deg);
  bottom: -100px;
  right: -80px;
}
