* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(45deg, #ff9ce3, #4ab3ff);
  overflow: hidden;
  transition: all 1s ease;
}

.card-container {
  padding-top: 2rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-left: 2.7rem;
  .addLogout {
    height: 15vh;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 30px;
    margin-right: 5rem;
    button {
      width: 108px;
      height: 36px;
      border-radius: 15px;
      border: none;
      border: 1px solid white;
      font-size: medium;
      background: rgba(255, 255, 255, 0.4);
      cursor: pointer;
    }
    button:hover {
      background-color: white;
      color: blue;
    }
  }
  .allCards {
    margin-left: 5rem;
    display: flex;
    flex-wrap: wrap;
  }
}
