.card {
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid white;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(6px);

  .card-header {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: flex-start;

    .update {
      color: burlywood;
      font-size: 2rem;
    }
    .delete {
      color: red;
      font-size: 2rem;
    }
  }
  .card-body {
    font-size: 1.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
