.wrapper.ten {
  .bounce {
    font-size: 5rem;
    width: 100%;
    margin: 3rem auto;
    display: inline-flex;
    justify-content: center;
    -webkit-box-reflect: below -20px linear-gradient(transparent, #211e1e2e);

    span {
      display: inline-flex;
      color: rgba(238, 234, 229, 0.926);

      animation: bounce 1s infinite;
      font-family: "Caveat", cursive;
    }
  }

  @keyframes bounce {
    0%,
    50%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-20px);
    }
  }

  span:nth-of-type(1) {
    animation-delay: 0.1s;
  }

  span:nth-of-type(2) {
    animation-delay: 0.2s;
  }

  span:nth-of-type(3) {
    animation-delay: 0.3s;
  }

  span:nth-of-type(4) {
    animation-delay: 0.4s;
  }

  span:nth-of-type(5) {
    animation-delay: 0.5s;
  }

  span:nth-of-type(6) {
    animation-delay: 0.6s;
  }
  span:nth-of-type(7) {
    animation-delay: 0.77s;
  }
  span:nth-of-type(8) {
    animation-delay: 0.88s;
  }
}
